#admin-container {
    display: flex;
}

#admin-container aside {
    flex: 0 0 20vw;
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(130, 108, 108, 0.8);
}

#admin-container main {
    flex: 1;
}

#admin-container .logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#web-user-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#web-user-container #user-content {
    flex: 1;
    padding-bottom: 20px;
    padding-top: 20px;
}

#web-user-container #user-footer {
    border-top: 1px solid #dee2e6;
}

#admin-container {
    display: flex;
}

#admin-container aside {
    flex: 0 0 20vw;
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(130, 108, 108, 0.8);
}

#admin-container main {
    flex: 1;
}

#admin-container .logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

/* Thanh Cong */
/* General styles */
.wrapper-container {
    display: table;
    height: 100%;
    width: 100%;
}

.wrapper-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerHeader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header .logo {
    border: 1px solid rgb(218, 208, 208);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

#header {
    background-color: burlywood;
}

#header .menuContainer {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2rem;
    background-color: rgb(225, 52, 21);
}

#header .btnMenu {
    color: aliceblue;
}

#header .formSearch {
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    border: none;
}

#header .searchContainer {
    position: relative;
}

header .space {
    width: 10%;
}

#header .iconSearch {
    position: absolute;
    font-size: 20px;
    padding-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#header .middleSearchIcon {
    font-size: 20px;
    padding-left: 20px;
}

#header .cartShop-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(222, 214, 214);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .btnLogin {
    border: 1px solid rgb(255, 254, 254);
    border-radius: 2rem;
}

#header .SearchBar_Middle {
    display: none;
}

/* About Page */
#AboutPage {
    background-color: rgb(119, 204, 119);
}

#AboutPage .aboutUsContainer {
    background-color: antiquewhite;
}

#AboutPage .section_3 {
    background-color: antiquewhite;
}

#AboutPage .card-img-top {
    max-width: 100%;
    height: auto;
    /* Đảm bảo ảnh giữ tỉ lệ và vừa với chiều rộng thẻ card */
    object-fit: contain;
    /* Đảm bảo ảnh không bị cắt */
}

#AboutPage .imgBorder {
    border: 1px solid white;
    border-radius: 1rem;
    overflow: hidden;
}

#AboutPage .detailsSection_3 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

#AboutPage .centerText,
#AboutPage .firstText,
#AboutPage .endText {
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    /* Giới hạn độ rộng của các phần tử chứa text */
    word-wrap: break-word;
    /* Ngắt dòng nếu cần thiết */
}

#AboutPage .firstText,
#AboutPage .endText {
    padding-left: 2.5rem;
}

#AboutPage .section_4 .card {
    border-radius: none;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.loginRegister {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

.login-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 768px;
    min-height: 480px;
}

.login-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.login-container span {
    font-size: 12px;
}

.login-container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.login-container button {
    background-color: #13d420;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.login-container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.login-container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.login-container .userbox {
    position: relative;
    width: 80%;
}

.login-container .userbox input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    font-weight: bold;
}

.login-container .userbox input:focus~label,
.login-container .userbox input:valid~label {
    transform: translateY(-8px);
    color: #000;
    font-size: 10px;
}

.login-container .userbox input:focus {
    border: 1px solid #000;
}

.login-container .userbox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 16px;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.login-eye {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff5a57;
    background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: #fff;
    position: absolute;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .sign-in {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
/*Cotact Page */

#ContactPage{
    background-color: rgb(119, 204, 119);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#ContactPage .containerContact{
    background-color: antiquewhite;
}

#ContactPage .detalsContainer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#ContactPage .fontSize{
    font-size: 20px;
}
#ContactPage .mapContainer{
    background-color: antiquewhite;
    margin-top: 1rem;

}
#ContactPage .mapDisplay {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
#ContactPage .mapGoogle {
    width: 100%;
    height: 450px;
}


/*Cart Page */


#CartShop .containerCartShop{
    border: 1px solid black;
    border-radius: 0.5rem;
}
#CartShop .totalPrice{
    width: 200px;
    border: 1px solid black;
    background-color: rgb(166, 175, 175);
}
#CartShop .textPrice{
    font-size:1.25rem;
    font-weight: bold;
}
#CartShop .checkOutButton{
     width:200px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 2rem;
}


@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
/*Product Details */
#productDetailsPage .productDetailContainer{
    padding-left: 15px;
  }
  #productDetailsPage .textAddress{
    font-size: 13px;
  }
  #productDetailsPage .slickImg{
      width:90%;
      height: 500px;
      margin-left: auto;
      margin-right: auto;

  }


  #productDetailsPage .productImageList{
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;

  }
  #productDetailsPage .linkFont{
   font-size: 75%;
  }
  #productDetailsPage .shareContainer a{
      background-color: rgb(0, 0, 0);
  }
  #productDetailsPage .sizeBtn{
      width: 40px;
  }
  #productDetailsPage .wasSell{
      font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
      font-size: 12px;
  }
  #productDetailsPage .price{
      color: red;
      font-size: 17px;
  }
  .mouse :hover{
      transform: scale(1.02) !important;
      cursor: pointer !important;
  }

  /* #productDetailsPage .currentAddress col-12 .linkHover :hover{
      color: rgb(199, 74, 74) !important;
      cursor: pointer !important;
  }
  Tại sao ko viết thuộc tính css vào phần tử con của Thẻ Current Address đc

  */
  #productDetailsPage .relativeProduct .card{
      width: 10rem
  }
/* Media Queries */
@media (max-width: 768px) {
    .containerHeader {
        width: 100%;
    }

    #header .logo {
        width: 40px;
        height: 40px;
    }

    #header .btnLogin {
        font-size: 15px;
    }

    #header .formSearch {
        font-size: 12px;
        height: 30px;
    }

    #header .SearchBar {
        display: none;
    }
    #header .SearchBar_Middle {
        display: block;
    }
    #header .row {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    .containerHeader{
        width: 80%;
    }
     /*About Page*/
     .hidden{
        display: none !important;
    }
     /*productDetails*/
     #productDetailsPage .shareContainer{
        padding-left: 5rem;
        padding-right: 2rem
    }
    #productDetailsPage .relativeProduct .card{
        width: 150px
    }
    .login-container {
        width: 90%;
        max-width: 500px;
    }
}

