#admin-container {
    display: flex;
}

#admin-container aside {
    flex: 0 0 20vw;
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(130, 108, 108, 0.8);
}

#admin-container main {
    flex: 1;
}

#admin-container .logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

/* Thanh Cong */
/* General styles */
.wrapper-container {
    display: table;
    height: 100%;
    width: 100%;
}
.wrapper-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHeader{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.header .logo {
    border: 1px solid rgb(218, 208, 208);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.header {
    background-color: antiquewhite;
}
.header .menuContainer {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2rem;
    background-color: rgb(225, 52, 21);
}
.header .btnMenu {
    color: aliceblue;
}
.header .formSearch {
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    border: none;
}
.header .searchContainer {
    position: relative;
    border-bottom: 1px solid black;
}
header .space {
    width: 10%;
}
.header .iconSearch {
    position: absolute;
    font-size: 20px;
    padding-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.header .middleSearchIcon{
  font-size: 20px;
  padding-left: 20px;
}
.header .cartShop-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(222, 214, 214);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .btnLogin {
    border: 1px solid rgb(255, 254, 254);
    border-radius: 2rem;
}
.header .SearchBar_Middle{
    display: none;
}

/* Styles for screens larger than 768px */
@media (min-width: 769px) {
    .header .SearchBar {
        display: block;
    }
    .header .SearchBar_Middle {
        display: none;
    }
}

/* Styles for screens 768px and smaller */
@media (max-width: 768px) {
    .header .SearchBar {
        display: none;
    }
    .header .SearchBar_Middle {
        display: block;
    }
    .header .row {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    .containerHeader{
        width: 80%;
    }
    .header .middleSearchIcon{

    }
}
